<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
</head>
<body>
    <div class="register">
        <h1>Register</h1>
        <div class="links">
            <a href="{{ url_for('login') }}">Login</a>
            <a href="{{ url_for('register') }}" class="active">Register</a>
        </div>
        <form method="post" action="{{ url_for('register') }}" autocomplete="off">
            {{ form.hidden_tag() }}
            <div>
                <label for="username">
                    <i class="fas fa-user"></i>
                </label>
                {{ form.username(class="form-control", placeholder="Username") }}
                {% for error in form.username.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </div>
            <div>
                <label for="password1">
                    <i class="fas fa-lock"></i>
                </label>
                {{ form.password1(class="form-control", placeholder="Password") }}
                {% for error in form.password1.errors %}
                <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </div>
            <div>
                <label for="password2">
                    <i class="fas fa-lock"></i>
                </label>
                {{ form.password2(class="form-control", placeholder="Confirm Password") }}
                {% for error in form.password2.errors %}
                <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </div>
            <div>
                <label for="email">
                    <i class="fas fa-envelope"></i>
                </label>
                {{ form.email(class="form-control", placeholder="Email") }}
                {% for error in form.email.errors %}
                <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </div>
            <div>
                <label for="phone_number">
                    <i class="fas fa-phone"></i>
                </label>
                {{ form.phone_number(class="form-control", placeholder="Phone Number") }}
                {% for error in form.phone_number.errors %}
                <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </div>
            <div>
                <div class="msg">{{ msg }}</div>
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </form>
    </div>
</body>
</html>
