requests
numpy
pandas
gdown
tqdm
Pillow
opencv-python
tensorflow
keras
Flask
mtcnn
retina-face
fire
gunicorn
opencv-contrib-python
dlib-19.22.99-cp310-cp310-win_amd64.whl
mediapipe
ultralytics
facenet-pytorch
torch
deepface
tf-keras
ml-dtypes==0.4.0
pyjwt
twilio
pyotp
cryptography
email-validator
flask-mysqldb
flask-bcrypt
wtforms
flask-wtf
flask-mail
qrcode[pil]